In [47]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\2\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: setuptools in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: numpy>=1.16.2 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\2\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\2\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six in c:\users\2\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [48]:
from mlxtend.frequent_patterns import apriori

In [49]:
dataset = [['Drink', 'Nuts', 'Diaper'],

      ['Drink', 'Coffee', 'Diaper'],

      ['Drink', 'Diaper', 'Eggs'],

      ['Nuts', 'Eggs', 'Milk'],

      ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk'],
          ['Toy','Car','Apple','Milk']
          ]

In [50]:
dataset

[['Drink', 'Nuts', 'Diaper'],
 ['Drink', 'Coffee', 'Diaper'],
 ['Drink', 'Diaper', 'Eggs'],
 ['Nuts', 'Eggs', 'Milk'],
 ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk'],
 ['Toy', 'Car', 'Apple', 'Milk']]

In [51]:
import pandas as pd

from mlxtend.preprocessing import TransactionEncoder



TranEncod = TransactionEncoder()

te_ary = TranEncod.fit(dataset).transform(dataset)

df = pd.DataFrame(te_ary, columns=TranEncod.columns_)

In [52]:
df

   Apple    Car  Coffee  Diaper  Drink   Eggs   Milk   Nuts    Toy
0  False  False   False    True   True  False  False   True  False
1  False  False    True    True   True  False  False  False  False
2  False  False   False    True   True   True  False  False  False
3  False  False   False   False  False   True   True   True  False
4  False  False    True    True  False   True   True   True  False
5   True   True   False   False  False  False   True  False   True

In [53]:
apriori(df, min_support=0.6)

    support itemsets
0  0.666667      (3)

In [54]:
apriori(df , min_support=0.2, use_colnames=True)

     support            itemsets
0   0.333333            (Coffee)
1   0.666667            (Diaper)
2   0.500000             (Drink)
3   0.500000              (Eggs)
4   0.500000              (Milk)
5   0.500000              (Nuts)
6   0.333333    (Coffee, Diaper)
7   0.500000     (Diaper, Drink)
8   0.333333      (Eggs, Diaper)
9   0.333333      (Nuts, Diaper)
10  0.333333        (Eggs, Milk)
11  0.333333        (Nuts, Eggs)
12  0.333333        (Nuts, Milk)
13  0.333333  (Nuts, Eggs, Milk)

In [55]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

     support            itemsets  length
0   0.333333            (Coffee)       1
1   0.666667            (Diaper)       1
2   0.500000             (Drink)       1
3   0.500000              (Eggs)       1
4   0.500000              (Milk)       1
5   0.500000              (Nuts)       1
6   0.333333    (Coffee, Diaper)       2
7   0.500000     (Diaper, Drink)       2
8   0.333333      (Eggs, Diaper)       2
9   0.333333      (Nuts, Diaper)       2
10  0.333333        (Eggs, Milk)       2
11  0.333333        (Nuts, Eggs)       2
12  0.333333        (Nuts, Milk)       2
13  0.333333  (Nuts, Eggs, Milk)       3

In [56]:


frequent_itemsets[ (frequent_itemsets['length'] == 2) &

          (frequent_itemsets['support'] >= 0.2) ]

     support          itemsets  length
6   0.333333  (Coffee, Diaper)       2
7   0.500000   (Diaper, Drink)       2
8   0.333333    (Eggs, Diaper)       2
9   0.333333    (Nuts, Diaper)       2
10  0.333333      (Eggs, Milk)       2
11  0.333333      (Nuts, Eggs)       2
12  0.333333      (Nuts, Milk)       2

In [57]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Diaper', 'Drink'} ]

   support         itemsets  length
7      0.5  (Diaper, Drink)       2

In [58]:
\\\\\\\\\\\\\\\\\\\

SyntaxError: unexpected character after line continuation character (<ipython-input-58-8d27ebcb366e>, line 1)

In [59]:
dataset2 = [['11', '12', '15'],

      ['12', '14'],

      ['12', '13'],

      ['11', '12', '14'],

      ['11', '13'],
          ['12','13'],['11','13'],['11','12','13','15'],['11','12','13']
          ]

In [60]:
import pandas as pd

from mlxtend.preprocessing import TransactionEncoder



TranEncod = TransactionEncoder()

te_ary2 = TranEncod.fit(dataset2).transform(dataset2)

df2 = pd.DataFrame(te_ary2, columns=TranEncod.columns_)

In [61]:
df2

      11     12     13     14     15
0   True   True  False  False   True
1  False   True  False   True  False
2  False   True   True  False  False
3   True   True  False   True  False
4   True  False   True  False  False
5  False   True   True  False  False
6   True  False   True  False  False
7   True   True   True  False   True
8   True   True   True  False  False

In [62]:
apriori(df2, min_support=0.2)

     support   itemsets
0   0.666667        (0)
1   0.777778        (1)
2   0.666667        (2)
3   0.222222        (3)
4   0.222222        (4)
5   0.444444     (0, 1)
6   0.444444     (0, 2)
7   0.222222     (0, 4)
8   0.444444     (1, 2)
9   0.222222     (1, 3)
10  0.222222     (1, 4)
11  0.222222  (0, 1, 2)
12  0.222222  (0, 1, 4)

In [63]:
apriori(df2 , min_support=0.2, use_colnames=True)

     support      itemsets
0   0.666667          (11)
1   0.777778          (12)
2   0.666667          (13)
3   0.222222          (14)
4   0.222222          (15)
5   0.444444      (12, 11)
6   0.444444      (11, 13)
7   0.222222      (11, 15)
8   0.444444      (12, 13)
9   0.222222      (12, 14)
10  0.222222      (12, 15)
11  0.222222  (12, 11, 13)
12  0.222222  (12, 11, 15)

In [64]:
frequent_itemsets2 = apriori(df2, min_support=0.2, use_colnames=True)

frequent_itemsets2['length'] = frequent_itemsets2['itemsets'].apply(lambda x: len(x))

frequent_itemsets2

     support      itemsets  length
0   0.666667          (11)       1
1   0.777778          (12)       1
2   0.666667          (13)       1
3   0.222222          (14)       1
4   0.222222          (15)       1
5   0.444444      (12, 11)       2
6   0.444444      (11, 13)       2
7   0.222222      (11, 15)       2
8   0.444444      (12, 13)       2
9   0.222222      (12, 14)       2
10  0.222222      (12, 15)       2
11  0.222222  (12, 11, 13)       3
12  0.222222  (12, 11, 15)       3

In [65]:


frequent_itemsets2[ (frequent_itemsets2['length'] == 2) &

          (frequent_itemsets2['support'] >= 0.2) ]

     support  itemsets  length
5   0.444444  (12, 11)       2
6   0.444444  (11, 13)       2
7   0.222222  (11, 15)       2
8   0.444444  (12, 13)       2
9   0.222222  (12, 14)       2
10  0.222222  (12, 15)       2

In [68]:
frequent_itemsets2[ frequent_itemsets2['itemsets'] == {'11', '12'} ]

    support  itemsets  length
5  0.444444  (12, 11)       2