In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\2\anaconda3\lib\site-packages (0.18.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: pandas>=0.24.2 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (3.3.2)
Requirement already satisfied: setuptools in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\2\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\2\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\2\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\2\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\2\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six>=1.5 in c:\users\2\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from mlxtend.frequent_patterns import apriori

In [4]:
dataset = [['Drink', 'Nuts', 'Diaper'],

      ['Drink', 'Coffee', 'Diaper'],

      ['Drink', 'Diaper', 'Eggs'],

      ['Nuts', 'Eggs', 'Milk'],

      ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk']
         
          ]

In [5]:
dataset

[['Drink', 'Nuts', 'Diaper'],
 ['Drink', 'Coffee', 'Diaper'],
 ['Drink', 'Diaper', 'Eggs'],
 ['Nuts', 'Eggs', 'Milk'],
 ['Nuts', 'Coffee', 'Diaper', 'Eggs', 'Milk']]

In [6]:
import pandas as pd

from mlxtend.preprocessing import TransactionEncoder



TranEncod = TransactionEncoder()

te_ary = TranEncod.fit(dataset).transform(dataset)

df = pd.DataFrame(te_ary, columns=TranEncod.columns_)

In [7]:
df

   Coffee  Diaper  Drink   Eggs   Milk   Nuts
0   False    True   True  False  False   True
1    True    True   True  False  False  False
2   False    True   True   True  False  False
3   False   False  False   True   True   True
4    True    True  False   True   True   True

In [8]:
apriori(df, min_support=0.6)

   support itemsets
0      0.8      (1)
1      0.6      (2)
2      0.6      (3)
3      0.6      (5)
4      0.6   (1, 2)

In [9]:
apriori(df , min_support=0.6, use_colnames=True)

   support         itemsets
0      0.8         (Diaper)
1      0.6          (Drink)
2      0.6           (Eggs)
3      0.6           (Nuts)
4      0.6  (Diaper, Drink)

## 1.3

In [29]:
apriori(df , min_support=0.5, use_colnames=True)

   support         itemsets
0      0.8         (Diaper)
1      0.6          (Drink)
2      0.6           (Eggs)
3      0.6           (Nuts)
4      0.6  (Diaper, Drink)

In [46]:
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))

frequent_itemsets

   support         itemsets  length
0      0.8         (Diaper)       1
1      0.6          (Drink)       1
2      0.6           (Eggs)       1
3      0.6           (Nuts)       1
4      0.6  (Drink, Diaper)       2

In [47]:


frequent_itemsets[ (frequent_itemsets['length'] == 2) &

          (frequent_itemsets['support'] >= 0.5) ]

   support         itemsets  length
4      0.6  (Drink, Diaper)       2

In [57]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'Diaper', 'Drink'} ]

   support         itemsets  length
7      0.5  (Diaper, Drink)       2